@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using GC.WebClock.Models;
@using Microsoft.AspNetCore.Identity;
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager
@{
    Layout = "~/Views/Shared/_LayoutPartial.cshtml";
    ViewBag.Title = "Login";

}

<div id="loginview" class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <h3 style="font-family:Montserrat-Regular">Please Login</h3>
                </div>
            </div>
        </div>
        <hr />
        <form asp-controller="Home" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">           
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4 text-right">
                                <span><strong>*Username:</strong></span>
                            </div>
                            <div class="col-md-8">
                                <input type="text" name="username" placeholder="Domain\Username" maxlength="30" asp-for="UserName" class="form-control" />
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4 text-right">
                                <span><strong>*Password:</strong></span>
                            </div>
                            <div class="col-md-8">
                                <input type="password" asp-for="Password" name="password" maxlength="30" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @if (ViewData["InvalidCredentials"].ToString() != null && ViewData["InvalidCredentials"].ToString() != "")
            {
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="row" style="margin-top:0px;margin-bottom:0px">
                                <div class="col-md-4">
                                </div>
                                <div class="col-md-8">
                                    <span class="red">@ViewData["InvalidCredentials"]</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4">
                                <span>&nbsp;</span>
                            </div>
                            <div class="col-md-8">
                                <button class="btn btn-danger" id="Login" name="Login" value="Login" type="submit">Login</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <hr />
    </div>
</div>