@{
    var serverInfo = Environment.MachineName;
    Layout = "";
    ViewBag.Title = "Server Information";
}
<!DOCTYPE HTML>
<html>
<head>
    <title>..:::: Web Clock ::::..</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Finance Center" />
    <style>
        .logoutStyle {
            float: right;
            margin-right: 0.5%;
            cursor: pointer;
        }

        .headerDivStyle {
            text-align: center;
            padding-top: 10px;
            padding-bottom: 10px;
            background-color: #D93A2F;
            font-size: 20px;
            color: #fff;
        }

        .topMargin {
            padding-top: 5px;
        }

        .bodyDivStyle {
            text-align: center;
            padding-top: 10px;
        }

        .bodyStyle {
            font-family: 'Montserrat-Regular';
            background: #F3F3F4;
            overflow-x: hidden;
        }
    </style>
</head>
<body class="bodyStyle">
    <div>
        <div class="headerDivStyle">           
            <span>
                Server Information
            </span>
        </div>
        <div class="bodyDivStyle">
            <div class="topMargin"><span>App is working on @serverInfo</span></div>
        </div>
    </div>
</body>
</html>