<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
    Configure your application settings in appsettings.json. Learn more at http://go.microsoft.com/fwlink/?LinkId=786380
  -->
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false" />
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="UserInfoWebServiceSoap">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
      <basicHttpBinding>
        <binding name="StoreInfoWebServiceSoap">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://userinfowebservicedev.guitarcenter.com/UserInfoWebService.asmx" binding="basicHttpBinding" bindingConfiguration="UserInfoWebServiceSoap" contract="UserInfoServiceReference.UserInfoWebServiceSoap" name="UserInfoWebServiceSoap" />
      <endpoint address="http://storeinfodev.gcnation.com/Service.asmx" binding="basicHttpBinding" bindingConfiguration="StoreInfoWebServiceSoap" contract="StoreServiceReference.RetrieveNameSoap" name="StoreInfoWebServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>